<!-- ======= Our Tools List Section ======= -->
<section id="outilsList" class="services sections-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Outils Interactifs pour une Périnatalité Connectée</h2>
            <p>
                Explorez nos ressources interactives conçues pour simplifier le parcours périnatal. Le Réseau
                Périnatal du Val d'Oise
                facilite l'accès à des outils pratiques, du calendrier de grossesse aux calculateurs spécialisés,
                pour une expérience
                enrichissante.
            </p>
        </div>

        <div class="row gy-4 justify-content-center" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-3 col-md-6">
                <div class="service-item  position-relative">
                    <div class="icon">
                        <i class="bi bi-calendar"></i>
                    </div>
                    <h3>Calendrier de Grossesse</h3>
                    <p></p>
                    <a href="{{path('app_tool_obstetricalCastor')}}" class="readmore stretched-link">Explorer <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-calculator"></i>
                    </div>
                    <h3>Calculateur d'Âge réel ou corrigé pour les Prématurés</h3>
                    <p></p>
                    <a href="{{path('app_tool_calculatorForPremature')}}" class="readmore stretched-link">Explorer
                        <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-clipboard-data"></i>
                    </div>
                    <h3>Roulette <br> Obstétricale</h3>
                    <p></p>
                    <a href="{{path('app_tool_obstetricalCastor')}}" class="readmore stretched-link">Explorer <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi bi-ladder"></i>
                    </div>
                    <h3><br>Échelle Scorée</h3>
                    <p></p>
                    <a href="#" class="readmore stretched-link">Explorer <i class="bi bi-arrow-right"></i></a>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>
</section><!-- End Our Tools List Section -->