{% extends "base.html.twig" %}
{% block title %}Adhésion - Réseau Périnatal du Val d'Oise (R.P.V.O.){% endblock %}


{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center breadcrumbs-adhesion">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>IVG - CONTRACEPTION</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a href="{{path('app_main')}}">Accueil</a></li>
                    <li>IVG - CONTRACEPTION</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->


    <section id="portfolio" class="portfolio">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="portfolio-isotope aos-init aos-animate" data-portfolio-filter="*"
                data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up"
                data-aos-delay="100">

                <div class="row gy-4 portfolio-container" style="position: relative; height: 935.188px;">

                    <div class="col-xl-4 col-md-6 portfolio-item " style="position: absolute; left: 0px; top: 0px;">
                        <div class="portfolio-wrap">
                            <div class="menu-header"></div>
                            <div class="portfolio-info">
                                <h4><a href="" title="More Details">Interruption volontaire de
                                        grossesse</a></h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <div class="dropdown mt-2 dropend">
                                    <button class="buy-btn dropdown-toggle ms-auto d-block" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        En savoir plus
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <h6 class="dropdown-header">Pages utiles</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Contraception et consultation
                                                préconceptionnelle</a></li>
                                        <li><a class="dropdown-item" href="#">S'informer sur la contraception</a></li>
                                        <li><a class="dropdown-item" href="#">S'informer sur l'IVG</a></li>
                                        <li><a class="dropdown-item" href="#">Dossier - Guide IVG</a></li>
                                        <li><a class="dropdown-item" href="#">S'informer sur l'IVG</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div><!-- End Portfolio Item -->


                </div><!-- End Portfolio Container -->

            </div>

        </div>
    </section>

</main><!-- End #main -->
{% endblock %}